<template>
  <v-card flat>
    <v-toolbar color="primary" dark extended flat>
      <v-toolbar-side-icon to="/" v-if="$route.path != '/'"></v-toolbar-side-icon>
    </v-toolbar>

    <v-layout row pb-2>
      <v-flex xs12 md8 offset-md2>
        <v-card class="card--flex-toolbar">
          <v-toolbar card prominent>
            <v-toolbar-title class="headline">{{utility}}</v-toolbar-title>
          </v-toolbar>
          <v-divider></v-divider>
          <v-card-text style="min-height: 200px;">
            <v-container>
              <v-layout wrap row>
                <v-flex xs12 md6>
                  <v-text-field v-model="url" prepend-icon="insert_link" placeholder="Provide a URL..."></v-text-field>
                </v-flex>
                <v-flex xs12 md1>
                  <v-card flat>
                    <v-card-title class="subheading justify-center">
                      OR
                    </v-card-title>
                  </v-card>
                </v-flex>
                <v-flex xs12 md3>
                  <file-input v-model="filename" @formData="formData" accept="png|jpg|bmp"/>
                </v-flex>
                <v-flex xs12 md1>
                  <v-card flat>
                    <v-card-title class="subheading justify-center">
                      AND
                    </v-card-title>
                  </v-card>
                </v-flex>
                <v-flex xs12 md1>
                  <v-btn :disabled="!(url || filename)" block large color="accent" @click="run">Run!</v-btn>
                </v-flex>
                <v-flex xs12 md3 offset-md7>
                  <v-card flat>
                    <v-card-title class="subheading justify-center">
                      Finally, if everything looks alright...
                    </v-card-title>
                  </v-card>
                </v-flex>
                <v-flex xs12 md2>
                  <v-btn :disabled="!exportImage" block large color="accent" @click="exportFile">Export!</v-btn>
                </v-flex>
              </v-layout>
            </v-container>
            <v-layout>
              <v-flex class="text-xs-center pa-2">
                <v-btn-toggle v-model="rotation" mandatory>
                  <v-btn flat value="switch">
                    <span>Actual</span>
                    <v-icon>crop_portrait</v-icon>
                  </v-btn>
                  <v-btn flat value="preview">
                    <span>Preview</span>
                    <v-icon>crop_landscape</v-icon>
                  </v-btn>
                </v-btn-toggle>
              </v-flex>
            </v-layout>
            <v-layout justify-center row>
              <v-img :src="sourceImage" :max-width="720/2" :max-height="1280/2" v-bind:class="{ preview: rotation == 'preview' }" />
            </v-layout>
          </v-card-text>
          <v-expansion-panel v-if="qa">
            <v-expansion-panel-content v-for="(item,i) in qa" :key="i" >
              <div slot="header">{{item.q}}</div>
              <v-card>
                <v-card-text v-if="item.html" v-html="item.a"/>
                <v-card-text v-else>{{item.a}}</v-card-text>
              </v-card>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-card>
      </v-flex>
    </v-layout>
  </v-card>
</template>
<script>
import fileInput from '#/file-input.vue';

import configure from '@jimp/custom';

import jpeg from '@jimp/jpeg';
import png from '@jimp/png';
import bmp from '#/bmp.js';

import resizePlugin from '@jimp/plugin-resize';
import rotatePlugin from '@jimp/plugin-rotate';
import blitPlugin from '@jimp/plugin-blit';
import cropPlugin from '@jimp/plugin-crop';

import fileSaver from 'file-saver';

let Jimp = configure({
  types: [jpeg, bmp, png],
  plugins: [resizePlugin, rotatePlugin, blitPlugin, cropPlugin],
})

export default {
  components: { fileInput },
  data() {
    return {
      utility: 'Hekate Bootlogo Wizard',
      qa: [
        {q: "Where do I put this bootlogo.bmp?", html: true,
         a: "By default Hekate looks for <code>/bootlogo.bmp</code>, however some repacks overwrite this path, in which case you have to check your <code>/bootloader/hekate_ipl.ini</code> for specific location.</br>For example, Kosmos overwrites the path to <code>/bootloader/bootlogo.bmp</code>."},
        {q: "What's this?", a: "Magical tool to convert any image (PNG, JPG, bad BMP) to Hekate's expected bootlogo.bmp format. Just feed your file, cross your fingers, and hit run."},
        {q: "But how?", a: "With magical JIMP (which stands for JavaScript Image Manipulation Program) library, all of the conversion happens on client-side."},
        {q: "Are the files stored somewhere?", a: "No, since all of the conversion is performed client-side, there is no need for a server. The only exception to this is direct URLs, due to nature of browsers, they have to be proxied through a 3rd-party service (which doesn't store anything either, it's just a universal proxy)."},
      ],
      sourceImage: "/img/720x1280.png",
      filename: '',
      url: '',
      rotation: 'actual',
      targetImage: null,
      exportImage: null,
    }
  },
  methods:{
    formData(e) {
      this.targetImage = e[0].get('data')
    },
    fileBuffer(blob) {
      return new Promise((resolve, reject) => {
        var fileReader = new FileReader();
        fileReader.onload = function(event) {
          if (event.error) reject(event.error)
          resolve(event.target.result);
        };
        fileReader.readAsArrayBuffer(blob);
      })
    },
    async run() {
      let data

      if (this.url) {
        data = `https://cors-anywhere.herokuapp.com/${this.url}`
      } else if (this.targetImage != null) {
        await this.fileBuffer(this.targetImage)
          .then(buffer => data = buffer)
          .catch(err => console.error)
      }

      Jimp.read(data)
        .then(async image => {
          if ((image.bitmap.width / image.bitmap.height) >= 1) {
            image = await image.rotate(90, true)
          }
          if (image.bitmap.width > 720 || image.bitmap.height > 1280) {
            image = await image.resize(720, 1280)
          }
          this.sourceImage = await image.getBase64Async('image/png')
          this.exportImage = await image.getBufferAsync('image/bmp')
          return image
        })
        .catch(err => {console.error(err)});
    },
    exportFile() {
      fileSaver.saveAs(new Blob([this.exportImage], { type: 'image/bmp' }), 'bootlogo.bmp')
    }
  },
}
</script>

<style>
  .card--flex-toolbar {
    margin-top: -64px;
  }

  .preview {
    transform: rotate(90deg) scale(1.75);
  }
</style>
