<template>
  <v-card flat>
    <v-toolbar color="primary" dark extended flat>
      <v-toolbar-side-icon to="/" v-if="$route.path != '/'"></v-toolbar-side-icon>
    </v-toolbar>

    <v-layout row pb-2>
      <v-flex xs12 md8 offset-md2>
        <v-card class="card--flex-toolbar">
          <v-toolbar card prominent>
            <v-toolbar-title class="headline">{{utility}}</v-toolbar-title>
          </v-toolbar>
          <v-divider></v-divider>
          <v-card-text style="min-height: 200px;">
            <v-container grid-list-md>
            <v-layout row wrap>
              <v-flex xs12 md4 v-for="(item, index) in items" v-bind:key="index">
                <v-card :to="item.link">
                  <v-btn block color="accent" :text="item.name" large class="title">
                    {{item.name}}
                  </v-btn>
                </v-card>
              </v-flex>
              <v-flex xs12 md4>
                <v-card flat>
                  <v-card-title class="subheading">
                    More to come...
                  </v-card-title>
                </v-card>
              </v-flex>
            </v-layout>
            </v-container>
          </v-card-text>
          <v-expansion-panel v-if="qa">
            <v-expansion-panel-content v-for="(item,i) in qa" :key="i" >
              <div slot="header">{{item.q}}</div>
              <v-card>
                <v-card-text>{{item.a}}</v-card-text>
              </v-card>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-card>
      </v-flex>
    </v-layout>
  </v-card>
</template>
<script>
export default {
  data() {
    return {
      utility: 'SwitchBrew Helper',
      qa: [
        {q: 'What the hell is this?', a: 'Collection of utilities to help with daily annoyances in the life of modding Nintendo Switch.'},
      ],
      items: [
        {
          name: 'Hekate Bootlogo',
          link: '/hekate-bootlogo',
        }
      ],
    }
  }
}
</script>

<style>
  .card--flex-toolbar {
    margin-top: -64px;
  }
</style>
